<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webws.xpf.mapper.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.webws.xpf.model.SysUserRole">
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <insert id="insert" parameterType="com.webws.xpf.model.SysUserRole">
    insert into sys_user_role (uid, role_id)
    values (#{uid,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.webws.xpf.model.SysUserRole">
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>